$mainColor: rgba(75, 75, 155, 0.842);

body {
    text-align: center;
    background-color: aquamarine;
}

h1 {
    color: $mainColor;
}

ul {
    color: $mainColor;
    display: flex;
    flex-direction: column;
    align-content:left;
    li {
        color: $mainColor;
        list-style: none;
        display: flex;
        flex-direction: row;
        width: auto;
        align-self: center;
        padding: 10px;
        margin: 5px;
        border: 2px solid blueviolet;
    }
}